{% extends "main/base.html" %}

<head>
    <title>
        {% block title %}
            Home
        {% endblock title %}
    </title>
</head>

{% block content %}
    <h1>Home Page</h1>    
{% endblock content %}

{% block sidebar %}

    <div class="col-md-4">
        <div class="content-section">
        <h3>News and Announcements</h3>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">Place Holder</li>
            <li class="list-group-item list-group-item-light">Place Holder</li>
            <li class="list-group-item list-group-item-light">Place Holder</li>
            <li class="list-group-item list-group-item-light">Place Holder</li>
            </ul>
        </div>
    </div>

{% endblock sidebar %}

